*{
    margin: 0;
    padding:0;
}
body{
    font: 400 14px/.5 'Hind', sans-serif;
    color:#565655;
}
a{
    text-decoration: none;
    color:#333;
    -webkit-transition: all .2s;
    -moz-transition: all  .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
a:hover{
    color:#bd2631;
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
}

.clearfix:after,
.clearfix::before{
    display:table;
    content: '';
}
.clearfix:after{
    clear:both;
}

/*HEADER*/
.contacts-info{
    background:#ededed ;
    padding:13px 100px;
}
.address-info{
    float:left;
}
.address-info div {
    display: inline-block;
    margin-right: 15px;
}
.fa-phone,
.fa-location-arrow{
    color: #000;
}
.social{
    float: right;
    margin-top: 9px;
}
.social ul li {
    margin-left: 20px;
}
.fa-angle-down{
    margin-left: 15px;
    font-size: 18px;
    margin-top: 2px;
}
.city {
    font-size: 15px;
    background: #000;
    color: #fff;
    border-radius: 3px;
    padding: 10px 16px;
}
/*logo*/
.block2{
    background-color: #ffffff;
    padding: 31px 100px;
}
.logo{
    float:left;
}
.info {
    float:right;
}
.title{
    font-family: 'Hind';
    color: #000;
    font-weight: 700;
    font-size: 15px;
}
.info li p:first-of-type{
    float: left;
    margin-right:8px;
    margin-left: 8px;
    color: #000;
    font-size: 18px;
}
.info li p:last-of-type{
    padding-top: 23px;
    display: inline-block;
}
.fa-check-circle-o{
    margin-top: 18px;
}
.info p > span{
    height: 20px;
    display: block;
}
.info ul li{
    padding-right: 23px;
    border-right: 1px solid #868686;
    margin-right: 15px;
}
.info ul li:last-of-type{
    border-right: none;
    padding-right: 0;
    margin-right: 0;
}

/*menu and slider*/
.sliderB {
    position: relative;
    overflow: hidden;
    background-color: #000;
}

.sliderB > input {
    display: none;
}

.sliderB > label {
    display: none;
}

.sliderB > input:checked + div + label,
.sliderB > input:checked + div + label + label {
    display: block;
    width: 80px;
    height: 80px;
    background-color: rgba(27, 27, 27, 0);

    cursor: pointer;
    position: relative;
   margin-top: 28.5%;
   margin-bottom: 28.5%;

}

.sliderB > input:checked + div + label:after,
.sliderB > input:checked + div + label + label:after {
    font-size: 30px;
    color: #fff;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    line-height: 80px;
}

.sliderB > input:checked + div + label {
    float: left;
}

.sliderB > input:checked + div + label:after {
    content: '◀';
    left: 55%;
}

.sliderB > input:checked + div + label + label {
    float:right;
}

.sliderB > input:checked + div + label + label:after {
    content: '▶';
    right: 55%;
}

.sliderB > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.sliderB > div {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
}

.sliderB > input:checked + div {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
}

.sliderB > div > p {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

/*/////////////////////*/
.picture-text{
    width: 50%;
    display: block;
    padding-left: 120px;
    padding-top: 20%;
    position: absolute;
}
.picture-text h4{
    color:#bd2631;
    font-size: 35px;
    font-weight: bold;
}
.picture-text h3{
    color:white;
    font-size: 42px;
    line-height: 1;
}
.picture-text h5{
    text-transform: uppercase;
    color:white;
    font-size: 23px;
}
.picture-text h6, h5, h4{
    font-family:'Hind';
    line-height: 1.5;
}
.navigation nav{
    position: absolute;
    float: left;
}
#mobile-menu{
    display: none;
}
#mobile-menu + label{
    display: none;
    padding-top: 23px;
    padding-left: 30px;
    position: relative;
    color: #fff;
    height: 20px;
    z-index: 1;
    cursor: pointer;
}
#mobile-menu + label:before{
    content: '\f0c9';
    display: inline-block;
    font-family:'Hind';
    font-size: 22px;
}
#btn-menu:checked + label:before{
    content: '\f00d';
    color: #f00;
}

.current{
    padding-left: 70px;
}
.menu nav{
    width: 100%;
    background-color: #000;
    opacity: 0.8;
    float: left;
    z-index: 1;
}
.menu nav a {
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: white;
    display: inline-block;
    text-transform: uppercase;
    padding:37px 15px 8px;
}
nav li a:after{
    margin-top: 20px;
    display: block;
    content: "";
    height: 7px;
    width:0;
    background-color:#bd2631;
    transition: width .3s ease-in-out;
}
nav li a:hover:after,
nav li a:focus:after{
    width:100%;
}
.search {
    z-index: 1;
    position: absolute;
    margin-top:30px;
    margin-left: 92%;
    color: #fff;
    font-size: 25px;
    cursor: pointer;

}

/*Red line*/
.content{
    font-family:'Hind';
    background-color: #bd2631;
}
.redline p {
    padding: 40px 0 40px 120px;
    color:white;
    line-height: 1;
    display: inline-block;
}
.text-line{
    font-size: 30px;
    font-weight:300;
}
.text-line2{
    font-size: 22px;
    font-weight: 300;
}
button{
    margin-top:40px;
    margin-right: 100px;
    padding:16px 29px;
    border-radius: 3px;
    border: none;
    background-color: white;
    float:right;
    color: black;
    font-weight: bold;
}

/*Photo content*/
.picture-text1{
    width: 40%;
    margin: 8% 100px;
    position: absolute;
    display: inline-block;
}
.picture-text1 h6, .picture-text2 h6{
     line-height: 1;
    padding-bottom:5% ;
     color:#bd2631;
     font-size: 30px;
 }

.picture-text2 h5, .picture-text1 h5{
    color:white;
    line-height: 1.5;
    font-size: 13px;
}
.picture-text1 h6, h5, .picture-text2 h6, h5{
    font-family: 'Hind';
    font-weight: 400;
}
.picture-text2{
    margin-top: 8%;
    margin-left: 58%;
    position: absolute;
    display: inline-block;
}
.photo img{
    padding: 0;
    display: inline-block;
}
.icon-position1{
    margin: 13.29% 8.93%;
}
.icon-position2{
    margin: 12.45% 8.57%;
}
.photo3 {
    background-color: #bd2631;
}
.icon-position3{
    margin: 10.91% 8.72%;
}
.dark{
    background-color: #000;
}
/*icon and text*/
.black-icon img{
    padding-bottom: 5%;
}
.icon-shild{
    width: 30%;
    margin-left: 36%;
}
.icon-eco{
    width: 42%;
    margin:0 30%;
}
.icon-clock{
    width: 43%;
    margin-left: 28%;

}
.icon-text1{
    width: 30%;
    display: inline-block;
    padding-bottom: 5%;
    padding-right: 3.3%;
    padding-top: 4%;
    float:left;
}
.icon-text1 h3{
    text-align: center;
    color:#bd2631;
    text-transform: uppercase;
    font-weight: 600;
    line-height:2;
    font-size: 30px;
}
.icon-text1 p{
    line-height:2;
    text-align:center;
    font-size: 15px;
}
/*black line*/
.black-line{
    width: 100%;
    display: inline-block;
    background-color: #000;
}
.logo2{
    padding-top:3.8%;
    padding-left:25%;
    position: relative;
}
.text-line3
{
    font-family:'Hind';
    position: absolute;
    padding-top: 6%;
    padding-left: 2%;
    line-height: 1;
    color: white;
    font-size: 30px;
}
.tir{
    float: right;
    position: relative;
}
/*red line text decoration*/
.red-box{
    font-family:'Hind';
    background-color: #bd2631;
    color:white;
    font-size: 18px;
}
.red-box  li{
    padding-left: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 15.5%;
    line-height: 1;
}
/*logo icon line*/
.logo-icon{
    width: 80%;
    padding: 0 10%;
}
.logo-icon img {
    padding: 6% 3%;
}
/*Footer*/

.footer{
    background-color: #242424;
    font-family:'Hind';
    padding: 0 100px;
    display: inline-block;
}
.About {
    width: 19%;
    font-size: 18px;
    color: #bd2631;
    float: left;
    padding:  2% 2.5%;
}
.About:nth-child(-n+3){
    border-right: 1px #353535 solid;

}
.footer-up-text{
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 1;
    text-transform: uppercase;
}
.footer-text1 {
    line-height: 1.5;
    margin-bottom:23px;
    font-size: 12px;
    color:white;
}
.footer-text2{
    padding-top:10px ;
    line-height: 1;
    font-size: 12px;
    color: #bd2631;
}
.footer-text3 {
    line-height: 1;
    margin-top:20px;
    font-size: 13px;
    color:#bd2631;
}
.footer li{
    display: inline-block;
    width: 18%;
}

.footer-line {
    width: 80%;
    display: inline-block;
    padding: 3% 10%;
    background-color: #131313;
    color: white;
    margin-bottom: 1.5%;
    font-family: 'Hind';
    font-size: small;
    line-height: 1;
}
.footer-line span:last-child{
    float:right;
}
/*media*/
@media screen and (max-width: 1060px) {
    .contacts-info {
        padding: 13px 70px;
    }

    .logo,
    .info {
        float: none;
    }

    .logo, .info {
        text-align: center;
    }

    .sliderB > input:checked + div + label,
    .sliderB > input:checked + div + label + label {
        margin-top: 25%;
        margin-bottom: 25%;
    }
    .current {
        padding-left: 30px;
    }

    .redline p {
        padding: 20px 60px;
    }

    .text-line {
        font-size: 25px;
    }

    .text-line2 {
        font-size: 15px;
    }

    button {
        margin: 20px;
    }
    .picture-text h3{
       font-size:23px ;
    }
    .picture-text h4{
        font-size:25px ;
    }
    .picture-text h5{
        font-size:14px;
    }

    .picture-text1 {
        width: 30%;
        margin: 5%;
    }

    .icon-text1 h3 {
        font-size: 25px;
    }

    .icon-text1 p {
        font-size: 14px;
    }

    .picture-text2 {
        width: 30%;
        margin-top: 5%;
    }

    .text-line3 {
        font-size: 20px;
    }

    .red-box {
        font-size: 14px;
        line-height: 1;
    }
    .footer{
        padding: 0 10px;
    }
}
@media screen and (max-width: 995px) {
    .block1 {
        padding-right: 40px;
        padding-left: 40px;
    }

    nav li a {
        font-size: 14px;
        padding: 24px 12px 16px;
    }
}
@media screen and (max-width: 780px){
    .navigation{
        position: absolute;
    }
    div.phone,
    div.address{
        display: block;
        margin: 10px 0;
    }
    .social ul li {
        display: block;
        padding-top: 3px;
    }
    .block2{
        padding: 0;
    }
    .search{
        margin-top: 15px;
        font-size: 20px;
        margin-left: 0;
    }
    .info ul li {
        margin: 2px 0;
    }
    nav ul{
        float:left;
        display: none;
        background: #000;
        top: 66px;
        left: 0;
        padding: 0 50px;
        box-sizing: border-box;
    }
    .menu{
        padding: 20px;
    }
    #mobile-menu + label{
        display: inline-block;
    }
    #mobile-menu + label + .menu{
        display: none;
    }
    #mobile-menu:checked + label + .menu{
        display: block;
    }
    .menu li{
        display: block;
        padding: 10px 0 0 0;
        border-bottom: 1px solid #e6e6e6;
    }
    .menu nav a{
        font-size: 16px;
    }
    .menu li a,
    .menu li a:hover{
        border-bottom: none;
    }
    .menu li a{
        padding: 0;
    }
    nav li a:after{
        margin-top:5px;
        display: block;
        content: "";
        height: 3px;
        width:0;
        background-color:#bd2631;
        transition: width .3s ease-in-out;
    }
    .picture-text{
        padding: 10%;
    }
    .picture-text h3{
        font-size:16px ;
    }
    .picture-text h4{
        font-size:20px ;
    }
    .picture-text h5{
        font-size:12px;
    }
    .logo-icon img{
        padding: 3% 2%;
    }
    .redline p {
        padding: 15px 0 15px 15px ;
    }
    .text-line{
        font-size: 20px;
    }
    .text-line2{
        font-size: 14px;
    }
    button{
        font-size: 12px;
        margin: 15px;
        padding: 9px 8px 9px;
    }
    .picture-text1 h6 , .picture-text2 h6{
        font-size: 20px;
    }
    .picture-text2 h5,.picture-text1 h5{
        font-size: 10px;
    }
    .icon-text1 h3{
        font-size: 20px;
    }
    .icon-text1 p{
        font-size: 12px;
    }
    .logo2{
        padding-top: 4%;
        padding-left: 12%;

    }
    .footer .About{
        width: 93%;
        float:none;
        border-right: none;
        border-bottom: 1px #353535 solid ;
    }
    .footer-up-text{
        padding: 5px;
        font-size: 15px;
    }
    .footer-text1{
        line-height: 1;
        margin-bottom: 7px;
    }
}
@media screen and (max-width: 570px){
    .logo img{
        width: 55%;
    }
    .info ul li{
        padding-right: 0;
        margin: 10px 0;
        border: none;
        text-align: left;
    }
    .picture-text{
        margin-top: 0;
        margin-left: 13%;
    }
    .sliderB > input:checked + div + label, .sliderB > input:checked + div + label + label {
        margin-top: 22%;
        margin-bottom: 22%;
    }
    .redline p {
        width: 70%;
        padding: 3px;
    }
    .text-line{
        font-size: 15px;
    }
    .text-line2{
        font-size: 12px;
    }
    button{
        font-size: 11px;
        margin: 10px;
        padding: 11px 8px;
    }
    .red-box li{
        padding: 7px;
    }
    .red-box{
        font-size:13px ;
    }
    .picture-text1 h6, .picture-text2 h6{
        font-size: 15px;
    }
    .picture-text1 h5, .picture-text2 h5{
        font-size: 8px;
    }
    .logo2{
        padding-left: 10%;
    }
    .text-line3{
        font-size: 14px;
    }
}
@media screen and (max-width: 440px){
    .contacts-info{
        padding: 2px 3px;
    }
    .contacts-information > div {
        float: none;
    }
    .menu{
        padding-top:7px ;
    }
    .social-icons ul li {
        margin: 0 20px 0 0;
    }
    .logo img{
        width: 55%;
        height: auto;
    }

}
@media screen and (max-width: 390px) {
    .block {
        padding-right: 20px;
        padding-left: 20px;
    }
    .block2{
        padding: 2px 2px;
    }
    .info ul li{
        width: auto;
        float: left;
        margin: 10px 0;
    }
    .mobile-menu li{

    }
    .picture-text1{
       margin: 1%;
    }
    .picture-text2{
        margin-top: 1%;
        margin-left: 52%;
    }
    nav ul{
        padding: 0 20px;
    }
    .text-line3 {
        font-size: 12px;
    }
    .red-box{
        font-size: 9px;
    }
}